<!DOCTYPE html>
<html lang="en">
<head>
    <title>Patient Enrolment</title>
</head>
<body>
    <div>
        <p>
            Dear {{ username }},
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            <br/>
            Click <a href="https://umed.io">here</a>.
        </p>
        <p>
            {{ contact_name }}
            <br/>
            {{ provider_name }}
        </p>
    </div>
</body>
</html>